
{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown-item"> Download the image.</li>
{% endblock dropdown %}

{% block content %}
    <div>
        <p class="font-monospace text-center">Your image is ready!</p>
        <p class="text-center">
            <a class="test-center" href="../media/images/final.jpg" download>Download image</a>
        </p>
    </div>
    <img src="../media/images/final.jpg" alt="download" width="500" height= >
    <br><br>
    <center><a class="test-center" href="{% url "index" %}">Try More Images</a></center>
{% endblock content %}