{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Twin Camera</title>
</head>
<body>
    <h1 id="heading_fp"><img src="{% static 'images/Heading.png' %}" alt="Twin Camera"></h1>
    <p id="desc_fp"><img src="{% static 'images/desc.png' %}" alt="Input your Multiple Photos(with same background) and get a single merged image"></p>
    <a href="page2"><img id="button1" src="{% static 'images/button_final1.gif' %}"></a>
    <br><img src="{% static 'images/click_here1.png' %}">
    

</body>
</html>