{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Twin Camera</title>
</head>
<body>
    <h1 id="heading_fp"><img src="{% static 'images/Heading.png' %}" alt="Twin Camera"></h1>
    <p id="desc_fp"><img src="{% static 'images/desc.png' %}" alt="Input your Multiple Photos(with same background) and get a single merged image"></p>
    <!--<a href="{% url "page2" %}"><img id="button1" src="{% static 'images/button_final1.gif' %}"></a>
    <br><img src="{% static 'images/click_here1.png' %}">-->
    <video width="400" height="300" controls>
        <source src="{% static 'videos/demo.mp4' %}">
    Your Browser does not support video tag.
    </video>
    <div class="container-fluid ">
        <a href="{% url 'page2' %}" class="btn btn-outline-success">
            Input Images 
        </a> 
    </div>
</body>
</html>