{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown-item"> 1 .Upload all the images one by one.</li>
    <li class="dropdown-item"> 2 .Press submit.</li>
{% endblock dropdown %}

{% block content %}
        <form method="post" enctype="multipart/form-data" action="{% url "processing" %}">
            {% csrf_token %}
            {% for i in n %}
                {{ form.as_p }}
                <!-- <label for="formFile" class="form-label">Image{{i}}  :</label>
                <input class="form-control" required=true type="file" id="formFile"> -->
                <br>
            {% endfor %}
            
            <br>
            <input type="submit" class="btn btn-secondary">
        </form>
{% endblock content %}