{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown-item"> 1. Choose the image file that contains only the background (used in all other images)</li>
    <li class="dropdown-item"> 2. Type the number of images you want to be merged </li>
    <li class="dropdown-item"> 3. Press submit</li>
{% endblock dropdown %}

{% block content %}
        <form method="post" enctype="multipart/form-data" action="{% url 'processing'%}">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <br>
            <input type="submit" class="btn btn-secondary">
        </form> 
{% endblock content %}

