{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown-item"> Please wait while your images are being processed.</li>
    <li class="dropdown-item"></li>Thank you for your patience</li>
{% endblock dropdown %}

{% block content %}
    <p class="font-monospace">Processing your images ... </p>
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style= "width: {{progress}}%" aria-valuenow={{ progress }} aria-valuemin="0" aria-valuemax="100">{{progress}} %</div>
    </div>
{% endblock content %}

{% block scripts %}
    <script >
        setTimeout(function(){
        location.reload(true)
    },3000)
    </script>
{% endblock scripts %}}